@import 'mixins';

.top-button{
   position: fixed;
    right: 20px;
    bottom: 110px;

    i{
        color: rgb(139, 30, 30);
    }
   
}

#search_produit_Rechercher{
   transition: .35s;
   &:hover{
    background-color: blue;
    color: white;
    }
}


//last articles

#last-article-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#article-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#last-article-container ul{
    gap: 1rem;
}

.card-article{
    text-align: center;
    background: white;
    //height: 400px;
}

.article-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.781);
    width: 100.2%;
    transition: .5s;
}

.card-article:hover .article-name{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    height: 100px;
    transition: .5s;
}

.title-product-last{
    font-size: 16;
    @include primary-color;
}

.title-product{
    //font-weight: 600;
    font-size: 14px;
    color: grey;
    
}

.price-product{
    font-size: 14px;
    color: rgb(155, 40, 40);
}

.statut-product{
    font-size: 14px;
    color: grey;
    font-style: italic;
}

.btn-product{
    font-size: 14px;
}

.card-article-mobile{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

//presentation site 
#presentation-site{
max-width: 1250px;
height: 500px;
margin-left: auto;
margin-right: auto;
margin-top: 5rem;
margin-bottom: 5rem;
display: flex;
justify-content: center;
align-items: center;
background-image: url('../img/dogg.jpg');
background-attachment: fixed;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.border-article{
    border: 3px solid;
    @include border-primary-color;
    padding: 1.5rem;
    max-width: 300px;
    height: 300px;
    transform: rotate(45deg);
    background-color: #ffffffad;
}

#presentation-site article{
    transform: rotate(-45deg);
}

.border-article h2{
    text-align: center;
}

.border-article p{
    transform: translate(2px, -22px);
    font-style: italic;
    font-weight: 600;
}

.border-article {
    text-align: justify;
}

//evenement

.card-evenement{
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.1);
    border: 1px solid #80808042;
    background: white;
    border-radius: 4px;
    img{
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}


#event-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#event-container ul{
    gap: 1rem;
}

#event-container ul li{
    max-width: 375px;
}

.title-event{
    font-weight: 600;
    font-size: 20px;
}

.date-event{
    color: gray;
}

.event-btn{
    text-align: right;
    margin: 1rem 0;
}

//all articles

.card-all-article{
    max-width: 235px;
    transition: .35s;
}



.card-all-article:hover{
    transform: translateY(-10px);
}


// search 



.rideau {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0;
  z-index: 9;
  transition: opacity 0.35s; /* Ajout de la transition pour l'opacité */
}

#search_produit_mots{
    padding: .5rem!important;
}

.form_search:focus-within ~ .rideau {
  /* Lorsque .form_search ou l'un de ses descendants a le focus, l'opacité passe à 0.6 pour montrer le rideau */
  opacity: 0.6;
  display: block;
}

.form_search button:oncl ~ .rideau {
  /* Lorsque .form_search ou l'un de ses descendants a le focus, l'opacité passe à 0.6 pour montrer le rideau */
  opacity: 0;
}

.search-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}

.search-card:nth-of-type(odd){
    color: #fff;
    @include background-messagerie;

    a{
        background-color: #fff;
        padding: .5rem 1rem;
        border-radius: 4px;
        transition: .35s;
        &:hover{
            @include primary-background-color;
            color: #fff;
        }
    }
}

.search-card{
    border-radius: 4px;

    img{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}

// Pagination

.pagination{
    text-align: center;
    margin: 2rem 0;
}
/*
.pagination .next, .last , .first , .previous{
    margin: 0 .5rem;
    border: 1px solid;
    @include border-primary-color;
    padding: 0.5rem;
    border-radius: 4px;
    transition: .35s;
    &:hover{
        @include primary-background-color;
        color: #fff;

        a{
            color: #fff;
        }
    }
}*/

.pagination .current{
    padding: 0.5rem;
    color: white;
    @include primary-background-color;
    border-radius: 4px;
    margin: 0 0.5rem;
}


/* Styles par défaut pour le paragraphe */
.visibility-500{
  display: none;
}

/* Afficher le paragraphe lorsque la largeur d'écran est supérieure ou égale à 500px */
@media (min-width: 500px) {
  .visibility-500 {
    display: block;
  }
}

.form_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    z-index: 98;
    position: relative;
}

#search_produit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    gap: 1rem;
    padding: .75rem;
    @include primary-background-color;
   
}

#search_produit input, select{
    padding: .35rem;
    
}

#search_produit button{
    padding: .62rem;
    cursor: pointer;
}


@media (max-width: 550px){
    // presentation site 
    #presentation-site article{
    transform: rotate(-0deg);
}
    .border-article{
    transform: rotate(-0deg);
    }

    //card all articles

    .list-cat h2{
        text-align: center;
    }

    .card-all-article img{
        width: 125px;
        height: 200px;
    }

    .width-mobile{
        max-width: 125px;
    }

    .card-all-article{
        max-width: 125px;
    }

}

@media (max-width: 1099px){
    .h2-home{
        text-align: center;
    }

    .swiper-slide{
    display: flex;
    flex-direction: column-reverse;
    }

    .slider-pop-up{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
   }

   .card-article img{
    height: 400px!important;
}
}

@media (max-width: 375px){
    #event-container ul li{
    max-width: 280px;
}
}

@media (max-width: 615px){
    .last-article-visibility{
        display: none;
    }

    .last-article-mobile-visibility{
        height: 600px!important;
    }
}

@media (min-width: 616px){
    // version mobile des derniers articles disparait a partir de 616px
    .last-article-mobile-visibility{
        display: none;
    }

    .last-article-visibility{
        display: flex;
    }
}



@media (min-width: 1100px){
    // last article

    #last-article-visibility ul{
    justify-content: space-between;
}

    .flex-start{
        justify-content: flex-start!important;
    }

    .card-article{
    position: relative;
}


.article-name{

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    height: 0;
    position: absolute;

}

//event

#event-container ul{
    justify-content: space-between;
}

#event-container ul li{
    max-width: 500px;
}

#event-container ul li img{
    width: 500px;
}


    // search
    .form_search{
    transform: translateY(-30px);
}

    .slider-pop-up{
        display: block;
        text-align: center;
        line-height: 1.5;
        max-width: 200px;
        position: absolute;
        z-index: 99;
        left: 50px;
        background: #fff;
        padding: 2rem 1rem;
        border-radius: 4px;
        bottom: 120px;
    }

    .slider-pop-up *{
        margin: 1rem 0;
    }

    .slider-pop-up p{
        font-weight: 600;
    }
}