@import 'mixins';

//last articles

#last-article-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.fade-in {
    animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#article-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#last-article-container ul{
    gap: 1rem;
}

.card-article{
    text-align: center;
    background: white;
}

.article-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.781);
    width: 100.2%;
    transition: .5s;
}

.card-article:hover .article-name{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    height: 100px;
    transition: .5s;
}

.title-product{
    //font-weight: 600;
    font-size: 16px;
    
}

.price-product{
    font-size: 16px;
    color: rgb(155, 40, 40);
}


.card-article-mobile{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

//evenement

#event-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

#event-container ul{
    gap: 1rem;
}

#event-container ul li{
    max-width: 375px;
}

.title-event{
    font-weight: 600;
    font-size: 20px;
}

.date-event{
    color: gray;
}

.event-btn{
    text-align: right;
    margin: 1rem 0;
}

//all articles

.card-all-article{
    max-width: 235px;
    transition: .35s;
}

.card-all-article:hover{
    transform: translateY(-10px);
}


// search 

.search-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
}

.search-card:nth-of-type(odd){
    color: #fff;
    @include background-messagerie;

    a{
        background-color: #fff;
        padding: .5rem 1rem;
        border-radius: 4px;
        transition: .35s;
        &:hover{
            @include primary-background-color;
            color: #fff;
        }
    }
}

// Pagination

.pagination{
    text-align: center;
    margin: 2rem 0;
}

.pagination .next, .last , .first , .previous{
    margin: 0 .5rem;
    border: 1px solid;
    @include border-primary-color;
    padding: 0.5rem;
    border-radius: 4px;
    transition: .35s;
    &:hover{
        @include primary-background-color;
        color: #fff;

        a{
            color: #fff;
        }
    }
}

.pagination .current{
    padding: 0.5rem;
    color: white;
    @include primary-background-color;
    border-radius: 4px;
    margin: 0 0.5rem;
}


/* Styles par défaut pour le paragraphe */
.visibility-500{
  display: none;
}

/* Afficher le paragraphe lorsque la largeur d'écran est supérieure ou égale à 500px */
@media (min-width: 500px) {
  .visibility-500 {
    display: block;
  }
}

.form_search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    z-index: 98;
    position: relative;
}

#search_produit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    gap: 1rem;
    padding: .75rem;
    @include primary-background-color;
   
}

#search_produit input, select{
    padding: .35rem;
    
}

#search_produit button{
    padding: .62rem;
    cursor: pointer;
}


@media (max-width: 1099px){
    .h2-home{
        text-align: center;
    }

    .swiper-slide{
    display: flex;
    flex-direction: column-reverse;
    }

    .slider-pop-up{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
   }
}

@media (max-width: 375px){
    #event-container ul li{
    max-width: 280px;
}
}

@media (max-width: 615px){
    .last-article-visibility{
        display: none;
    }
}

@media (min-width: 616px){
    // version mobile des derniers articles disparait a partir de 616px
    .last-article-mobile-visibility{
        display: none;
    }

    .last-article-visibility{
        display: flex;
    }
}



@media (min-width: 1100px){
    // last article

    #last-article-visibility ul{
    justify-content: space-between;
}

    .flex-start{
        justify-content: flex-start!important;
    }

    .card-article{
    position: relative;
}


.article-name{

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    height: 0;
    position: absolute;

}

//event

#event-container ul{
    justify-content: space-between;
}

#event-container ul li{
    max-width: 500px;
}

#event-container ul li img{
    width: 500px;
}


    // search
    .form_search{
    transform: translateY(-30px);
}

    .slider-pop-up{
        display: block;
        text-align: center;
        line-height: 1.5;
        max-width: 200px;
        position: absolute;
        z-index: 99;
        left: 50px;
        background: #fff;
        padding: 2rem 1rem;
        border-radius: 4px;
        bottom: 120px;
    }

    .slider-pop-up *{
        margin: 1rem 0;
    }

    .slider-pop-up p{
        font-weight: 600;
    }
}