//Menu admin

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import 'mixins';

html{
  scroll-behavior: smooth;
}

.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:white;
border-right:1px solid;
@include border-primary-color;
position:absolute;
top:106px;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1;
scroll-behavior: smooth;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
@include primary-color;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;

}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
@include primary-background-color;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}

/* Styles pour cacher le sous-menu par défaut */
.sub-menu {
  display: none;
  //position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  transition: display 0.2s ease-in-out;
}



.sub-menu a{
  width: 100%;
}

.sub-menu li a i{
  font-size: 20px;
}

.sub-menu li a{
  display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: .5rem 0;
}

.slides-text:hover .sub-menu{
display: block;

}


// admin page 

#container-admin{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

// 1ere section

.card-admin-first{
  background-color: #fff;
  border: 1px solid;
  @include border-primary-color;
  border-radius: 25px;
  width: 160px;
  height: 160px;
  padding: 1rem;

  display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card-admin-first p{
  color: grey;
  font-size: 15px;
}

.card-admin-first i{
  font-size: 35px;
  @include primary-color;
}

// section slide 

.slide-contain{
  background: white;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid;
  @include border-primary-color;
  border-radius: 25px;
}

.slide-contain table{
  width: 100%;
  text-align: center;
}

.table-admin{
  border-collapse: separate;
  border-spacing: 0 10px;
}

#container-annonce-admin{
  display: flex;
  justify-content: center;
}

#container-annonce-admin ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}



.card-annonce-admin{
  width: 400px;
  padding: 1rem;
}

/* Styles pour le bouton switch */
.toggle-switch {
  display: inline-block;
}

.toggle-switch a {
  text-decoration: none;
  color: inherit;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.label-switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background: red;
  display: block;
  border-radius: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.label-switch:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

/* Styles pour l'état "checked" */
.switch input[type="checkbox"]:checked + label {
  background: #bada55;
}

.switch input[type="checkbox"]:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Styles pour l'état "checked" */
.checked label {
  background: #bada55;
}

.checked label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

// bg annonce

.green-border{
  background-color: rgba(0, 128, 0, 0.346);
}

.red-border{
  background-color:  rgba(255, 0, 0, 0.387);
}