#cat-container{
    position: relative;
    margin-bottom: 8rem;
}

#cat-container h1{
    background: #00000069;
    color: white;
    padding: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.list-cat{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}