@import 'mixins';

.evenement-titre{
    top: 50%;
    text-align: center;
    width: 100%;

    background: #0000007a;
    color: white;
    bottom: 10%;
}

.evenement-titre a{
    color: white;
}

.evenement-date{
    @include primary-color;
    font-weight: bold;
}

/* ---------------- event show -------------------------------- */

.evenement-container{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.evenement-text {
    margin: 2rem 0;
    line-height: 1.4;
}