@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import 'mixins';


// menu grand écran

#nav-menu{
    display: none;
}

#second_menu {
    display: none;
}

#first_menu{
    max-width: 98%;
    padding: .5rem;
}

@media (min-width: 816px) {

    #nav-menu{
        display: flex;
    }

    #second_menu {
        display: block;
    }

    #second_menu ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    #second_menu ul li {
        padding: 1rem;
    }

    #second_menu ul li:last-child {
        border-left: 1px solid white;
    }

    #second_menu ul li a {
        color: white;
    }
}



// menu mobile 

.container-mobile {
    margin-left: auto;
    max-width: 300px;
    margin-right: auto;
    border-top: 2px solid white;
    padding: 1rem 0;
}

#first_menu nav a {
    padding: .5rem;
   // @include primary-color;
}

.mobile-visibility {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 5px;
    overflow: visible;
    position: relative;
    z-index: 999;

    // THE LINES
    span,
    span:before,
    span:after {
        @include primary-background-color;
        display: block;
        height: 2px;
        opacity: 1;
        position: absolute;
        transition: 0.3s ease-in-out;
    }

    span:before,
    span:after {
        content: '';
    }

    // TOP
    span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }

    // MIDDLE
    span {
        right: 0px;
        top: 13px;
        width: 27px;
    }

    // BOTTOM
    span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    // ROTATION ON CLICK
    &.close {

        // TOP
        span:before {
            top: 0px;
            transform: rotate(90deg);
            width: 27px;
        }

        // MIDDLE
        span {
            transform: rotate(-45deg);
            top: 13px;
            width: 27px;
        }

        // BOTTOM
        span:after {
            top: 0px;
            left: 0;
            transform: rotate(90deg);
            opacity: 0;
            width: 0;
        }
    }
}

#menu {
    z-index: 990;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;

    &.overlay {
        visibility: visible;
        opacity: 1;
        padding-top: 100px;
        @include background-menu-color-mobile; 
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    a {
        color: #fff;
        display: block;
        font-size: 22px;
        margin-bottom: 10px;
        text-decoration: none;
    }
}

@media (max-width: 815px) {

    #menu-container {
        display: flex;
    }

    .mobile-visibility {
        display: block;
    }
}