// Définition de la mixin pour la couleur primaire
@mixin primary-background-color {
  background-color:#c6538c; 
}

@mixin primary-background-color-hover {
  background-color:#a63b71; 
}

@mixin primary-color{
	color:#c6538c; 
}

@mixin border-primary-color{
	border-color:#c6538c; 
}

@mixin background-menu-color-mobile{
  background-color:#c6538cb5; 
}

@mixin background-messagerie{
  background-color:  rgba(198, 83, 140, .5);
}
