
.payment-container{
 display: flex;
height: 82.5vh;
justify-content: center;
align-items: center;
}

.bg-success{
background: white;
padding: 1rem 3rem 0rem 3rem;
border: 1px solid #80808029;
border-radius: 4px;
}

.bg-icon-sucess{
background: rgb(13, 194, 13);
border-radius: 50px;
padding: .5rem;
}

.img-success{
display: block;
height: auto;
width: 100%;
max-width: 500px;
}

.content-success{
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}