@import 'mixins';

.profil-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

 .scroll-container {
      height: 150px;
      border: 1px solid #ccc;
      overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse */
    }

.notification{
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.287);
    border-top: 1px solid rgba(128, 128, 128, 0.287);
}

//offre

.offer-container{
    max-width: 550px;
}

.card-offer{
    @include background-messagerie;
    padding: .5rem;
    width: 200px;
    justify-content: space-between;
}

.card-offer a{
    color: #fff;
}
