@import 'mixins';

//espace vendeur 

.card-seller{
    //@include background-messagerie;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.332);
}



.profil-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

 .scroll-container {
      height: 160px;
      border: 1px solid #ccc;
      overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse */
    }

.notification{
    padding: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.287);
    border-top: 1px solid rgba(128, 128, 128, 0.287);
}

.notif-vente{
    background-color: rgba(19, 184, 19, 0.9);
    color: #fff;
}

//commande 

.card-command{
    background: white;
    padding: 1rem;
    border: 1px solid #80808045;
    border-radius: 4px;
}



.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  font-size: 14px;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position above the element */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


//offre

.card-offer{
    background-color: white;
    border: 1px solid #80808040;
    padding: 0.5rem;
    width: 200px;
    justify-content: space-between;
}




//annonce 

.card-annonce{
    border: 1px solid rgba(128, 128, 128, 0.507);
    background-color: white;
}

.title-annonce{
    padding: 0.5rem 0;
    font-size: 18px;
    font-weight: bold;
}

.date-annonce{
    color: grey;
    font-size: 15px;
    font-style: italic;
}



@media (min-width: 550px){
    // commandes vendeur
   .card-command{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.adresse-commande{
    grid-column: 3/5;
}
}