<section id="presentation-site">
    <div class="border-article">
        <article>
            <h2 class="logo"><strong>Worlds of pets</strong></h2>
            <p>Bienvenue dans notre univers <strong>animalier</strong> ! Découvrez notre vaste sélection d'articles
                uniques
                proposés par des
                particuliers passionnés. Des accessoires pour <strong>chiens</strong> aux nichoirs pour
                <strong>oiseaux</strong>, trouvez le cadeau idéal pour vos
                amis à
                poils, plumes et écailles. Rejoignez notre communauté d'amoureux des animaux !
            </p>
        </article>
    </div>
</section>