{% extends 'base.html.twig' %} {% block title %}Création compte{% endblock %} {%
block body %} {% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<h1>Modifier les informations de mon compte</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
