@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 35px;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin: 2rem 0;
}

.logo strong {
  font-family: "Caveat", cursive !important;
  font-size: 28px;
  color: #c6538c;
  padding: 0 1rem;
}

* {
  font-family: "Open Sans", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.galerie figure:first-child img {
  height: 600px;
  width: 500px;
}

.container {
  min-height: 77vh;
}

.container-error {
  min-height: 80.1vh;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.mh-2 {
  margin: 2rem 0;
}

.color-primary {
  color: #c6538c;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*----------------------------------------------------------------FLEX- ----------------------------------------------------------------*/
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.gap {
  gap: 1rem;
}

.gap-x3 {
  gap: 3rem;
}

.wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.swiper {
  width: 100%;
  height: 400px;
}

/* ----------------------------------------------------------------ENDFLEX- ----------------------------------------------------------------*/
.bg-menu {
  background-color: #c6538c;
}

.btn {
  background-color: #c6538c;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: 0.35s;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color: #a63b71;
}

#footer {
  margin-top: 2rem;
  padding: 1rem;
  color: white;
}

#footer li {
  padding: 0.25rem 1rem;
  border-right: 1px solid white;
}

#footer a {
  color: white;
}

#nav-menu {
  display: none;
}

#second_menu {
  display: none;
}

@media (min-width: 816px) {
  #nav-menu {
    display: flex;
  }
  #second_menu {
    display: block;
  }
  #second_menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  #second_menu ul li {
    padding: 1rem;
  }
  #second_menu ul li:last-child {
    border-left: 1px solid white;
  }
  #second_menu ul li a {
    color: white;
  }
}
.container-mobile {
  margin-left: auto;
  max-width: 300px;
  margin-right: auto;
  border-top: 2px solid white;
  padding: 1rem 0;
}

#first_menu nav a {
  padding: 1rem 0.5rem;
  color: #c6538c;
}

.mobile-visibility {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 5px;
  overflow: visible;
  position: relative;
  z-index: 999;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background-color: #c6538c;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 990;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background-color: rgba(198, 83, 140, 0.7098039216);
}
#menu ul {
  padding: 0;
}
#menu li {
  list-style: none;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

@media (max-width: 815px) {
  #menu-container {
    display: flex;
  }
  .mobile-visibility {
    display: block;
  }
}
.form_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  transform: translateY(-215px);
  z-index: 98;
  position: relative;
}

#search_produit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  gap: 1rem;
  padding: 0.75rem;
  background-color: #c6538c;
  border-radius: 4px;
}

#search_produit input, select {
  padding: 0.35rem;
  border-radius: 4px;
}

#search_produit button {
  padding: 0.62rem;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 1099px) {
  .swiper-slide {
    display: flex;
    flex-direction: column-reverse;
  }
  .slider-pop-up {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1100px) {
  .form_search {
    transform: translateY(-150px);
  }
  .slider-pop-up {
    display: block;
    text-align: center;
    line-height: 1.5;
    max-width: 200px;
    position: absolute;
    z-index: 99;
    left: 50px;
    background: #fff;
    padding: 2rem 1rem;
    border-radius: 4px;
    bottom: 120px;
  }
  .slider-pop-up * {
    margin: 1rem 0;
  }
  .slider-pop-up p {
    font-weight: 600;
  }
}
.evenement-titre {
  top: 50%;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4784313725);
  color: white;
  bottom: 10%;
}

.evenement-titre a {
  color: white;
}

.evenement-date {
  color: #c6538c;
  font-weight: bold;
}

/* ---------------- event show -------------------------------- */
.evenement-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.evenement-text {
  margin: 2rem 0;
  line-height: 1.4;
}

#mapid {
  height: 300px;
}

.custom-flash {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px;
}

.messagerie-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.messagerie {
  width: 100%; /* Largeur totale du tableau */
  border-collapse: collapse; /* Fusionner les bordures des cellules */
}

.messagerie th {
  padding: 10px;
  font-weight: bold;
}

.messagerie td {
  border: 1px solid rgba(0, 0, 0, 0.432); /* Bordure des cellules */
  padding: 10px; /* Espacement interne des cellules */
  text-align: center;
}

.messagerie td:nth-child(2) {
  max-width: 200px; /* Largeur de la troisième colonne */
}

.bold {
  font-weight: bold;
  background-color: rgba(198, 83, 140, 0.5);
}

.message {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.459);
  background: rgba(0, 0, 0, 0.0392156863);
  padding: 1rem;
  line-height: 1.5;
}

.message :last-child {
  padding-bottom: 1rem;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 767px) {
  table.messagerie {
    width: 100%;
  }
  table.messagerie thead,
  table.messagerie tbody,
  table.messagerie th,
  table.messagerie td,
  table.messagerie tr {
    display: block;
  }
  table.messagerie thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.messagerie tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  table.messagerie td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table.messagerie td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table.messagerie td:nth-of-type(1):before {
    content: "Expéditeur";
  }
  table.messagerie td:nth-of-type(2):before {
    content: "Date";
  }
  table.messagerie td:nth-of-type(3):before {
    content: "Message";
  }
  table.messagerie td:nth-of-type(4):before {
    content: "Voir la discussion";
  }
  table.messagerie td:nth-of-type(5):before {
    content: "Action";
  }
}
.comment {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3098039216);
  border-radius: 4px;
}

.comment :nth-child(3) {
  margin: 1rem 0;
}/*# sourceMappingURL=style.css.map */