@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
.top-button {
  position: fixed;
  right: 20px;
  bottom: 110px;
}
.top-button i {
  color: rgb(139, 30, 30);
}

#search_produit_Rechercher {
  transition: 0.35s;
}
#search_produit_Rechercher:hover {
  background-color: blue;
  color: white;
}

#last-article-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#article-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#last-article-container ul {
  gap: 1rem;
}

.card-article {
  text-align: center;
  background: white;
}

.article-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.781);
  width: 100.2%;
  transition: 0.5s;
}

.card-article:hover .article-name {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
          clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  height: 100px;
  transition: 0.5s;
}

.title-product-last {
  font-size: 16;
  color: #c6538c;
}

.title-product {
  font-size: 14px;
  color: grey;
}

.price-product {
  font-size: 14px;
  color: rgb(155, 40, 40);
}

.statut-product {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

.btn-product {
  font-size: 14px;
}

.card-article-mobile {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#presentation-site {
  max-width: 1250px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/dogg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.border-article {
  border: 3px solid;
  border-color: #c6538c;
  padding: 1.5rem;
  max-width: 300px;
  height: 300px;
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0.6784313725);
}

#presentation-site article {
  transform: rotate(-45deg);
}

.border-article h2 {
  text-align: center;
}

.border-article p {
  transform: translate(2px, -22px);
  font-style: italic;
  font-weight: 600;
}

.border-article {
  text-align: justify;
}

.card-evenement {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(128, 128, 128, 0.2588235294);
  background: white;
  border-radius: 4px;
}
.card-evenement img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#event-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#event-container ul {
  gap: 1rem;
}

#event-container ul li {
  max-width: 375px;
}

.title-event {
  font-weight: 600;
  font-size: 20px;
}

.date-event {
  color: gray;
}

.event-btn {
  text-align: right;
  margin: 1rem 0;
}

.card-all-article {
  max-width: 235px;
  transition: 0.35s;
}

.card-all-article:hover {
  transform: translateY(-10px);
}

.rideau {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: 0;
  z-index: 9;
  transition: opacity 0.35s; /* Ajout de la transition pour l'opacité */
}

#search_produit_mots {
  padding: 0.5rem !important;
}

.form_search:focus-within ~ .rideau {
  /* Lorsque .form_search ou l'un de ses descendants a le focus, l'opacité passe à 0.6 pour montrer le rideau */
  opacity: 0.6;
  display: block;
}

.form_search button:oncl ~ .rideau {
  /* Lorsque .form_search ou l'un de ses descendants a le focus, l'opacité passe à 0.6 pour montrer le rideau */
  opacity: 0;
}

.search-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.search-card:nth-of-type(odd) {
  color: #fff;
  background-color: rgba(198, 83, 140, 0.5);
}
.search-card:nth-of-type(odd) a {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: 0.35s;
}
.search-card:nth-of-type(odd) a:hover {
  background-color: #c6538c;
  color: #fff;
}

.search-card {
  border-radius: 4px;
}
.search-card img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination {
  text-align: center;
  margin: 2rem 0;
}

/*
.pagination .next, .last , .first , .previous{
    margin: 0 .5rem;
    border: 1px solid;
    @include border-primary-color;
    padding: 0.5rem;
    border-radius: 4px;
    transition: .35s;
    &:hover{
        @include primary-background-color;
        color: #fff;

        a{
            color: #fff;
        }
    }
}*/
.pagination .current {
  padding: 0.5rem;
  color: white;
  background-color: #c6538c;
  border-radius: 4px;
  margin: 0 0.5rem;
}

/* Styles par défaut pour le paragraphe */
.visibility-500 {
  display: none;
}

/* Afficher le paragraphe lorsque la largeur d'écran est supérieure ou égale à 500px */
@media (min-width: 500px) {
  .visibility-500 {
    display: block;
  }
}
.form_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  z-index: 98;
  position: relative;
}

#search_produit {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  gap: 1rem;
  padding: 0.75rem;
  background-color: #c6538c;
}

#search_produit input, select {
  padding: 0.35rem;
}

#search_produit button {
  padding: 0.62rem;
  cursor: pointer;
}

@media (max-width: 550px) {
  #presentation-site article {
    transform: rotate(0deg);
  }
  .border-article {
    transform: rotate(0deg);
  }
  .list-cat h2 {
    text-align: center;
  }
  .card-all-article img {
    width: 125px;
    height: 200px;
  }
  .width-mobile {
    max-width: 125px;
  }
  .card-all-article {
    max-width: 125px;
  }
}
@media (max-width: 1099px) {
  .h2-home {
    text-align: center;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column-reverse;
  }
  .slider-pop-up {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .card-article img {
    height: 400px !important;
  }
}
@media (max-width: 375px) {
  #event-container ul li {
    max-width: 280px;
  }
}
@media (max-width: 615px) {
  .last-article-visibility {
    display: none;
  }
  .last-article-mobile-visibility {
    height: 600px !important;
  }
}
@media (min-width: 616px) {
  .last-article-mobile-visibility {
    display: none;
  }
  .last-article-visibility {
    display: flex;
  }
}
@media (min-width: 1100px) {
  #last-article-visibility ul {
    justify-content: space-between;
  }
  .flex-start {
    justify-content: flex-start !important;
  }
  .card-article {
    position: relative;
  }
  .article-name {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    height: 0;
    position: absolute;
  }
  #event-container ul {
    justify-content: space-between;
  }
  #event-container ul li {
    max-width: 500px;
  }
  #event-container ul li img {
    width: 500px;
  }
  .form_search {
    transform: translateY(-30px);
  }
  .slider-pop-up {
    display: block;
    text-align: center;
    line-height: 1.5;
    max-width: 200px;
    position: absolute;
    z-index: 99;
    left: 50px;
    background: #fff;
    padding: 2rem 1rem;
    border-radius: 4px;
    bottom: 120px;
  }
  .slider-pop-up * {
    margin: 1rem 0;
  }
  .slider-pop-up p {
    font-weight: 600;
  }
}
html {
  scroll-behavior: smooth;
}

#menu-js {
  display: none;
}

#menu-js .fa-2x {
  font-size: 2em;
}

#menu-js .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.mail .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: white;
  border-right: 1px solid;
  border-color: #c6538c;
  position: absolute;
  top: 106px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1;
  scroll-behavior: smooth;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #c6538c;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #c6538c;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

/* Styles pour cacher le sous-menu par défaut */
.sub-menu {
  display: none;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  transition: display 0.2s ease-in-out;
}

.sub-menu a {
  width: 100%;
}

.sub-menu li a i {
  font-size: 20px;
}

.sub-menu li a {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.slides-text:hover .sub-menu {
  display: block;
}

#container-admin {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

.card-admin-first {
  background-color: #fff;
  border: 1px solid;
  border-color: #c6538c;
  border-radius: 25px;
  width: 160px;
  height: 160px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.card-admin-first p {
  color: grey;
  font-size: 15px;
}

.card-admin-first i {
  font-size: 35px;
  color: #c6538c;
}

.card-stats {
  background-color: #fff;
  border: 1px solid;
  border-color: #c6538c;
  border-radius: 25px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
}

.card-stats i {
  color: #c6538c;
}

.primary-color {
  color: #c6538c;
  font-weight: bold;
}

.btn-slide {
  margin: 1rem 0;
}

.btn-slide a {
  padding: 0.5rem;
}

.card-slide {
  background-color: #fff;
  border: 1px solid;
  border-color: #c6538c;
  padding-bottom: 1rem;
}

.card-slide h3 {
  text-align: center;
}

.slide-contain table {
  width: 100%;
  text-align: center;
}

.table-admin {
  border-collapse: separate;
  border-spacing: 0 10px;
}

#container-annonce-admin {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

#container-annonce-admin ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-annonce-admin {
  width: 270px;
  background: white;
  border: 1px solid;
  border-color: #c6538c;
  padding: 1rem;
}

/* Styles pour le bouton switch */
.toggle-switch {
  display: inline-block;
}

.toggle-switch a {
  text-decoration: none;
  color: inherit;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.label-switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
  background: red;
  display: block;
  border-radius: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.label-switch:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

/* Styles pour l'état "checked" */
.switch input[type=checkbox]:checked + label {
  background: #bada55;
}

.switch input[type=checkbox]:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* Styles pour l'état "checked" */
.checked label {
  background: #bada55;
}

.checked label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.green-border {
  background-color: rgba(0, 128, 0, 0.15);
}

.red-border {
  background-color: rgba(255, 0, 0, 0.15);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table th {
  background-color: #4CAF50;
  color: white;
}

.delete-icon {
  color: red;
}

/* Styles pour écran étroit (ajustez les valeurs en fonction de vos besoins) */
@media (max-width: 768px) {
  .custom-table th, .custom-table td {
    padding: 4px;
  }
  .custom-table td {
    font-size: 12px;
  }
  /* Réorganiser le tableau en mode mobile */
  .custom-table {
    display: block;
  }
  .custom-table thead, .custom-table tbody {
    display: table;
    width: 100%;
  }
  /* Créer une colonne distincte pour le thead et le tbody en mode mobile */
  .custom-table th, .custom-table td {
    display: block;
  }
}
.m-b2 {
  margin-bottom: 2rem;
}

@media (min-width: 512px) {
  #menu-js {
    display: block;
  }
}
/* Styles pour le tableau de contact */
.contact {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.contact th,
.contact td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.contact th {
  background-color: #f2f2f2;
}

/* Styles pour la suppression */
.delete-button {
  background-color: #ff6666;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style responsive pour les petits écrans */
@media screen and (max-width: 600px) {
  .contact {
    border: 0;
  }
  .contact tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ccc;
  }
  .contact td {
    display: block;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  .contact td:last-child {
    border-bottom: 0;
  }
  .contact th,
  .contact td::before {
    display: none;
  }
}
#cat-container {
  position: relative;
  margin-bottom: 8rem;
}

#cat-container h1 {
  background: rgba(0, 0, 0, 0.4117647059);
  color: white;
  padding: 1rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.list-cat {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.order-style {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 0px 0px rgba(128, 128, 128, 0.168627451);
}

.order-style p:first-child {
  margin: 1rem 0;
}

.italic-grey {
  font-style: italic;
  color: rgb(158, 152, 152);
}

#order div {
  display: flex;
  flex-direction: column;
}

.btn-order {
  margin-left: auto;
  margin-right: auto;
}

.connexion-page {
  height: 65vh;
  align-content: center;
  align-items: center;
}

.connexion-page div {
  max-width: 450px;
  background-color: #fff;
  padding: 1rem;
}

.comment {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3098039216);
  border-radius: 4px;
}

.comment :nth-child(3) {
  margin: 1rem 0;
}

.product-title {
  margin-top: 0 !important;
}

#product-detail {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
}

.info-product {
  max-width: 550px;
}

.price, .stock {
  padding-top: 1rem;
}

#product-detail ul li {
  margin: 0.5rem 0;
}
#product-detail ul li a {
  padding: 0.5rem;
}

.img-slide {
  max-width: 550px;
  max-height: 607px;
}

.img-little-slide {
  max-width: 450px;
  max-height: 72px;
}

.swiper {
  width: 100%;
  height: 307px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-slide .swiper-slide img {
  display: block;
  width: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper15 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper15 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper15 .swiper-slide-thumb-active {
  opacity: 1;
}

.img-little-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 550px) {
  .img-slide {
    max-width: 280px;
  }
}
.avis {
  margin: 1.5rem;
}

.btn-pad {
  padding: 0.5rem;
}

.other-product-container {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card-other-product {
  background-color: #c6538c;
}

.card-other-product figcaption p {
  color: white;
  font-style: italic;
}

.other-product-container a {
  transition: 0.5s ease;
}

.other-product-container a:hover {
  box-shadow: 1px 1px 5px 1px #c6538c;
}

.bg-white {
  margin-right: 10px !important;
  margin-left: 10px !important;
  height: 300px !important;
}

.evenement-titre {
  top: 50%;
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.4784313725);
  color: white;
  bottom: 10%;
}

.evenement-titre a {
  color: white;
}

.evenement-date {
  color: #c6538c;
  font-weight: bold;
}

/* ---------------- event show -------------------------------- */
.evenement-container {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.evenement-text {
  margin: 2rem 0;
  line-height: 1.4;
}

*:focus {
  outline: none;
}

#user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-container figure {
  width: 56%;
}

#user-container figure img {
  display: block;
  height: auto;
  width: 100%;
}

#user-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background: white;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#user-form input {
  padding: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.23);
  border-radius: 4px;
  background-color: rgb(242, 242, 242);
}

#user-form button {
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

#register-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

#register-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  max-width: 300px;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
}

#register-container form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#register-container form div:last-of-type {
  flex-direction: row;
}

#register-container form input {
  padding: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.23);
  border-radius: 4px;
  background-color: rgb(242, 242, 242);
}

#register-container form button {
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #c6538c;
  cursor: pointer;
  color: #c6538c;
}

/* Cacher le champ de type file */
input[type=file] {
  display: none;
}

/* Styliser l'apparence du champ de type file */
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type=file]::before {
  content: "Parcourir";
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Facultatif: Afficher le nom du fichier sélectionné */
input[type=file]:valid ~ .file-label::after {
  content: attr(data-file-name);
  display: inline-block;
  margin-left: 10px;
}

.image-product {
  position: relative;
  justify-content: center !important;
}

.images-legende {
  position: absolute;
  top: 5px;
  left: 5px;
  color: grey;
  font-size: 13px;
}

#product-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#product-container form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#product-container form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#product-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#product-container form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

.product-valid {
  justify-content: flex-end !important;
  background: none !important;
  padding-left: 2rem !important;
  padding-right: 0 !important;
}

.product-valid div {
  background: none !important;
  padding: 0 !important;
}

#images-preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center !important;
  gap: 1rem;
  background: none !important;
}

#image_selected {
  padding: 1rem;
  background: white;
}

#events-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#events-container form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#events-container form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#events-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#events-container form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

#slide-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#slide-container form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#slide-container form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#slide-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#slide-container form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

#contact-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

#contact-container form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#contact-container form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#contact-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#contact-container form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

.show-contact {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-send {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#send-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#send-container form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#send-container form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

#send-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0rem 2rem 2rem 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}

#send-container form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
}

.selectize-control, .selectize-input {
  padding: 0 !important;
}

.selectize-input input {
  width: 100% !important;
}

#slide-container .file-label {
  max-width: 150px;
  text-align: center;
}

#evenement .file-label {
  max-width: 150px;
  text-align: center;
}

.container-offre {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offre-form {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.offre-form form input {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

.offre-form form textarea {
  padding: 0.5rem;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.431372549);
  border-radius: 4px;
}

.offre-form form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  background: white;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 4px;
}

.offre-form form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

@media (max-width: 550px) {
  #product-container {
    max-width: 280px;
  }
  #product-container form {
    padding: 0;
  }
  #product-container form div {
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .connexion-image {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.25;
  background-color: rgb(242, 242, 242);
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #c6538c;
}

h1 {
  font-size: 35px;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin: 2rem 0;
}

h3 {
  font-size: 20px;
  margin: 2rem 0;
}

button {
  cursor: pointer;
}

.logo strong {
  font-family: "Caveat", cursive !important;
  font-size: 28px;
  color: #c6538c;
  padding: 0 1rem;
}

* {
  font-family: "Open Sans", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.galerie figure:first-child img {
  height: 600px;
  width: 500px;
}

.container {
  min-height: 81.5vh;
}

.container-error {
  margin-top: 2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.m-05 {
  margin: 0.5rem;
}

.mh-1 {
  margin: 1rem 0;
}

.mh-2 {
  margin: 2rem 0;
}

.p-05 {
  padding: 0.5rem;
}

.p-05-w {
  padding: 0 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.color-primary {
  color: #c6538c;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.p-05 {
  padding: 0.5rem;
}

.custom-flash-warning {
  background-color: rgb(146, 13, 13);
  color: #ffffff;
  padding: 10px;
}

.notification-unread {
  font-weight: bold;
}

.shadow-box {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

/*----------------------------------------------------------------FLEX- ----------------------------------------------------------------*/
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.gap05 {
  gap: 0.5rem;
}

.gap {
  gap: 1rem;
}

.gap-x3 {
  gap: 3rem;
}

.wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.swiper {
  width: 100%;
  height: 400px;
}

.min-w-280 {
  min-width: 280px;
}

.w-280 {
  width: 280px;
}

.m-w-800 {
  max-width: 800px;
}

.grow-05 {
  flex-grow: 0.5;
}

.grow {
  flex-grow: 1;
}

.radius-4 {
  border-radius: 4px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: #c6538c;
}

.relative {
  position: relative;
}

/* ----------------------------------------------------------------ENDFLEX- ----------------------------------------------------------------*/
.bg-menu {
  background-color: #c6538c;
}

/* ----------------------------------------------------------------BTN- ----------------------------------------------------------------*/
.btn {
  background-color: #c6538c;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: 0.35s;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background-color: #a63a70;
}

.btn-menu {
  border: 1px solid;
  color: #c6538c;
  border-radius: 4px;
  transition: 0.35s;
}

.btn-menu:hover {
  color: white;
  background-color: #c6538c;
  transition: 0.35s;
}

#footer {
  padding: 1rem;
  color: white;
  position: relative;
  z-index: 2;
}

#footer li {
  padding: 0.25rem 1rem;
  border-right: 1px solid white;
}

#footer a {
  color: white;
}

@media (max-width: 550px) {
  h1 {
    font-size: 27px;
  }
}
#mapid {
  height: 300px;
}

#nav-menu {
  display: none;
}

#second_menu {
  display: none;
}

#first_menu {
  max-width: 98%;
  padding: 0.5rem;
}

@media (min-width: 816px) {
  #nav-menu {
    display: flex;
  }
  #second_menu {
    display: block;
  }
  #second_menu ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  #second_menu ul li {
    padding: 1rem;
    transition: 0.35s;
  }
  #second_menu ul li:hover {
    background-color: #a63a70;
  }
  #second_menu ul li:last-child {
    border-left: 1px solid white;
  }
  #second_menu ul li a {
    color: white;
  }
}
.container-mobile {
  margin-left: auto;
  max-width: 300px;
  margin-right: auto;
  border-top: 2px solid white;
  padding: 1rem 0;
}

#first_menu nav a {
  padding: 0.5rem;
}

.mobile-visibility {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#burger-menu {
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 5px;
  overflow: visible;
  position: relative;
  z-index: 999;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background-color: #c6538c;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 990;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background-color: rgba(198, 83, 140, 0.7098039216);
}
#menu ul {
  padding: 0;
}
#menu li {
  list-style: none;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
  text-decoration: none;
}

@media (max-width: 815px) {
  #menu-container {
    display: flex;
  }
  .mobile-visibility {
    display: block;
  }
}
.custom-flash {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px;
}

.messagerie-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.messagerie {
  width: 100%; /* Largeur totale du tableau */
  border-collapse: collapse; /* Fusionner les bordures des cellules */
}

.messagerie th {
  padding: 10px;
  font-weight: bold;
}

.messagerie td {
  border: 1px solid rgba(0, 0, 0, 0.432); /* Bordure des cellules */
  padding: 10px; /* Espacement interne des cellules */
  text-align: center;
}

.messagerie td:nth-child(2) {
  max-width: 200px; /* Largeur de la troisième colonne */
}

.bold {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(198, 83, 140, 0.5);
}

.message {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.459);
  background: rgba(0, 0, 0, 0.0392156863);
  padding: 1rem;
  line-height: 1.5;
}

.message :last-child {
  padding-bottom: 1rem;
}

/* Styles pour les écrans de petite taille */
@media (max-width: 767px) {
  table.messagerie {
    width: 100%;
  }
  table.messagerie thead,
  table.messagerie tbody,
  table.messagerie th,
  table.messagerie td,
  table.messagerie tr {
    display: block;
  }
  table.messagerie thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  table.messagerie tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  table.messagerie td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table.messagerie td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  table.messagerie td:nth-of-type(1):before {
    content: "Expéditeur";
  }
  table.messagerie td:nth-of-type(2):before {
    content: "Date";
  }
  table.messagerie td:nth-of-type(3):before {
    content: "Message";
  }
  table.messagerie td:nth-of-type(4):before {
    content: "Voir la discussion";
  }
  table.messagerie td:nth-of-type(5):before {
    content: "Action";
  }
}
.payment-container {
  display: flex;
  height: 82.5vh;
  justify-content: center;
  align-items: center;
}

.bg-success {
  background: white;
  padding: 1rem 3rem 0rem 3rem;
  border: 1px solid rgba(128, 128, 128, 0.1607843137);
  border-radius: 4px;
}

.bg-icon-sucess {
  background: rgb(13, 194, 13);
  border-radius: 50px;
  padding: 0.5rem;
}

.img-success {
  display: block;
  height: auto;
  width: 100%;
  max-width: 500px;
}

.content-success {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.card-seller {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-seller h2 {
  margin: 0.5rem 0;
}

.card-seller h3 {
  margin: 1rem 0;
}

.profil-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.notifications {
  position: relative;
  height: 148px;
  overflow-y: auto;
  border: 1px solid #ccc;
  min-width: 280px;
  background-color: white;
  border-radius: 4px;
}

.tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  background-color: #f0f0f0;
  /* Pour s'assurer que les onglets sont au-dessus du contenu */
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.tab-content {
  display: none;
  transform: translateY(40px);
  background-color: white;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.notif-p {
  padding: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4901960784);
}

.scroll-container {
  height: 160px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: auto; /* Ajoute une barre de défilement si le contenu dépasse */
}

.notification {
  padding: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.287);
  border-top: 1px solid rgba(128, 128, 128, 0.287);
}

.notif-vente {
  background-color: rgba(19, 184, 19, 0.9);
  color: #fff;
}

.card-command {
  background: white;
  padding-right: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.card-command img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  font-size: 14px;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Position above the element */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.card-offer {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.1);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  width: 200px;
  justify-content: space-between;
}

.card-annonce {
  border: 1px solid rgba(128, 128, 128, 0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-annonce img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title-annonce {
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
}

.date-annonce {
  color: grey;
  font-size: 15px;
  font-style: italic;
}

.other-profile-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

/* Style de base pour le tableau */
.tab-other-profile {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
  border-color: #c6538c;
}

.tab-other-profile th, .tab-other-profile td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid;
  border-color: #c6538c;
}

/* Style de l'en-tête du tableau */
.tab-other-profile .title-table {
  background-color: #c6538c;
  color: #fff;
}

/* Style pour les images */
.tab-other-profile img {
  max-width: 100%;
}

/* Style pour la colonne de description avec un ellipsis pour les textes longs */
.tab-other-profile .description {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style pour le prix */
.tab-other-profile .price {
  font-weight: bold;
  color: #E44D26; /* Couleur du prix */
}

/* Style pour la catégorie */
.tab-other-profile .category {
  font-style: italic;
  color: #666; /* Couleur de la catégorie */
}

/* Style pour les lignes impaires du tableau */
.tab-other-profile tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Style pour les lignes paires du tableau */
.tab-other-profile tbody tr:nth-child(even) {
  background-color: #fff;
}

#lien-popup {
  padding: 0.5rem;
}

#popup {
  /* Position absolue pour centrer la popup */
  position: fixed;
  bottom: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Autres styles de dimension et d'apparence de la popup */
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  transition: opacity 0.3s ease-in-out;
}

/* Style pour le bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #c6538c;
}

/* Style pour card command*/
@media (max-width: 635px) {
  .card-seller ul {
    align-items: center;
  }
  .card-command {
    padding: 0;
    max-width: 300px;
  }
  .card-command img {
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}
/* Style pour les cellules du tableau en responsive */
@media (max-width: 768px) {
  .tab-other-profile {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  .tab-other-profile th, .tab-other-profile td {
    display: table-cell;
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */