{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}

<h1 class="text-center">Formulaire de contact</h1>
<div id="contact-container">
    

    {{ form(form) }}

</div>
{% endblock %}