{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}

<section class="container-send height-form-offre">
	{% if app.user %}
	<div class="row">
		<div id="send-container" class="mh-2">
			<h1>Envoyer un message</h1>
			{{ form(form) }}

		</div>
	</div>
</section>
{% else %}
<p>Veuillez vous connecter pour contacter le vendeur.</p>
{% endif %}
</section>
{% endblock %}