{% extends 'base.html.twig' %}

{% block title %}Paiement accepté{% endblock %}

{% block body %}
{% if app.user %}


<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
</section>

{% endif %}

{% endblock %}