<footer id="footer" class="bg-menu">
    <div class="flex w-100 justify-center wrap gap-x3 items-center">
        <ul class="flex wrap">
            <li>© World of pets SE 2023</li>
            <li><a href="">Qui sommes-nous?</a></li>
            <li><a href="">Mentions légales</a></li>
            <li><a href="">Conditions générale de vente</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Frais et délai de livraison</a></li>
            <li><a href="">Moyen de paiement</a></li>
        </ul>
        <div class="flex gap">
            <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
            <a href=""><i class="fa-brands fa-twitter fa-lg"></i></a>
            <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
        </div>
    </div>
</footer>