<ul>
    <li>
        <a href="{{path('app_home')}}">Accueil</a>
    </li>

    <li>
        <a href="">Chiens</a>
    </li>

    <li>
        <a href="">Chats</a>
    </li>

    <li>
        <a href="">Rongeurs</a>
    </li>

    <li>
        <a href="">Poissons</a>
    </li>

    <li>
        <a href="">Oiseaux</a>
    </li>

    <li>
        <a href="">Reptile</a>
    </li>

    <li>
        <a href="">Evénements</a>
    </li>
</ul>