<ul>
    <li>
        <a href="{{path('app_home')}}">Accueil</a>
    </li>

    {% for categorie in categories %}

    <li>
        <a href="{{path('show_categorie', {'id': categorie.id })}}">{{ categorie.nomCategorie }}</a>
    </li>
        
    {% endfor %}
   

  

    <li>
        <a href="">Evénements</a>
    </li>
</ul>